<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- head fragment -->
<div th:fragment="sidebar">
	<div class="row">
		<div class="col">
			<img th:src="@{/img/image__logo.png}" alt="" class="img-fluid" />
			<nav>
				<ul class="list-group">
					<li class="list-group-item"><a href="">전체 카테고리</a></li>
					<li class="list-group-item"><a href="">브랜드 패션</a></li>
					<li class="list-group-item"><a href="">패션 의류</a></li>
					<li class="list-group-item"><a href="">식품 / 생필품</a></li>
					<li class="list-group-item"><a href="">홈데코 / 문구 / 반려용품</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
</html>